<section class="content-header">
  <h1>
    Dashboard
    <small>Admins</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admins">Admins</a></li>
    <li class="active">Add Admin</li>
  </ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-6">
	    <!-- general form elements -->
	    <div class="box box-primary">
	      <div class="box-header with-border">
	        <h3 class="box-title">Add Admin</h3>
	      </div><!-- /.box-header -->
	      <!-- form start -->

				<%= render 'form' %>
			</div>
		</div>
	</div>
</section>			

<script>
  $("ul.sidebar-menu li").removeClass("active")
  $("ul.sidebar-menu li#admins").addClass("active")
</script>  