<section class="content-header">
  <h1>
    Dashboard
    <small>Case Managers</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/users">Case Manager</a></li>
    <li class="active">Edit Manager</li>
  </ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-6">
	    <!-- general form elements -->
	    <div class="box box-primary">
	      <div class="box-header with-border">
	        <h3 class="box-title">Edit Manager</h3>
	      </div><!-- /.box-header -->
	      <!-- form start -->

				<%= render 'form' %>
			</div>
		</div>
	</div>
</section>			
