<section class="content-header">
  <h1>
    Dashboard
    <small>Requests</small>
  </h1>
  <ol class="breadcrumb">
  	<li><%= link_to "Cases", cases_path %></li>
    <li><%= link_to 'Requests', case_requests_path(params[:case_id]) %></li>
    <li class="active">Edit Request</li>
  </ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-6">
	    <!-- general form elements -->
	    <div class="box box-primary">
	      <div class="box-header with-border">
	        <h3 class="box-title">Edit Request</h3>
	      </div><!-- /.box-header -->
	      <!-- form start -->

				<%= render 'form' %>
			</div>
		</div>
	</div>
</section>			

<script>
  $("ul.sidebar-menu li").removeClass("active")
</script>  