<!DOCTYPE html>
<html>
<head>
  <title>Gfl</title>
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition login-page">

<%= yield %>

</body>
</html>
